.main-title {
  text-align: center;
  width: 80%;
  max-width: 796px;
  margin: 20px auto;
  border-bottom: 2px solid lightgrey;
  padding-bottom: 4px;
}
.item-list {
  width: 80%;
  max-width: 796px;
  margin: 80px auto;
}

.item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.item-body a {
  text-decoration: none;
}

.item-body a:hover {
  color: lightskyblue;
  text-decoration: underline;
}

.item-body h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 8px 0;
}

.item-body p {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 18px;
  font-weight: 400;
  margin: 8px 0;
}

.item-header {
  display: flex;
  align-items: center;
}

.item-header button {
  background: #fff;
  border: none;
}

.item-header button:hover {
  cursor: pointer;
}

.item-title {
  color: lightskyblue;
}

.item-footer {
  display: flex;
  align-items: center;
}

.item-footer img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: 10px;
}

.item-footer .extra {
  color: #6e6e6e;
  font-size: 16px;
  font-weight: 350;
}
